// Import Google fonts

// Define fonts for body and headers
$headers-font: "Nexa Rust Sans Black", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";
$body-font: 'Source Code Pro', sans-serif;
// $body-font: "Work Sans", "Helvetica", "sans-serif";

$title-brand: "Nexa Rust Sans";
$text-brand: 'Source Sans Pro', sans-serif;
$subtile-brand: 'Source Code Pro', sans-serif;
$link: 'Avenir Next LT Pro', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
