// Specific CSS for your home-page
body {
  background-color: white;
}

.full-content {
  text-align: center;
}

.text-presentation {
  font-family: $text-brand;
}

.social-network ul {
  padding: 0;
}

.social-network ul li {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.social-network ul li a {
  color: black;
}
