// Specific CSS for your home-page
body {
  background-color: white;
}

#my-name {
  font-family: $title-brand;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

.text-presentation {
  font-family: $text-brand;
  text-align: center;
}

.legend {
  font-family: $link;
  text-align: center;
}
