// Specific CSS for your home-page
body {
  background-color: white;
}

#my-name {
  font-family: $title-brand;
  transition: font-size 0.8s;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

#presentation {
  font-family: $title-brand;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

.text-presentation {
  font-family: $text-brand;
  text-align: center;
}

.legend {
  font-family: $link;
  text-align: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 340px) {
  #my-name {
    transition: font-size 0.8s;
    font-size: 32px;
  }

  #presentation {
    transition: font-size 0.8s;
    font-size: 16px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 480px) {
  #my-name {
    transition: font-size 0.8s;
    font-size: 48px;
  }

  #presentation {
    transition: font-size 0.8s;
    font-size: 20px;
  }
}
