#presentation {
  font-family: $title-brand;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

.list-title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-top: 16px; 
}

.remove-disc {
  list-style-type: none;
}

//devices (desktops, 340px and up)
@media (min-width: 340px) {
  #presentation {
    transition: font-size 0.8s;
    font-size: 16px;
  }
}

//devices (desktops, 480px and up)
@media (min-width: 480px) {
  #presentation {
    transition: font-size 0.8s;
    font-size: 20px;
  }
}
