.resume-index-content {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.experiences {
  text-align: center;
  padding-left: 12px;
  font-family: $text-brand;
}

.experience-description {
  font-family: $text-brand;
  padding: 12px;
  width: 100%;
}

.text-experience-description {
  border-top: 1px solid black;
}

.list-title {
  font-family: $title-brand;
  font-size: 16px;
  margin-top: 16px;
}

.remove-disc {
  list-style-type: none;
  padding: 0;
}

.highlight_experience {
  background-color: #e9ecef;
}

//devices (desktops, 650px and up)
@media (min-width: 650px) {
  .resume-index-content{
    flex-direction: row;
    justify-content: flex-start;
  }

  .experiences {
    text-align: left;
    border-right: 1px solid black;
    padding-right: 24px;
  }

  .experience-description {
    width: 480px;
    padding: 0;
  }

  .text-experience-description {
    border-top: none;
    margin-left: 24px;
  }
}
