.resume-index-content {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.experiences {
  font-family: $text-brand;
  font-family: "Source Sans Pro", sans-serif;
  width: calc(100% - 24px);
  border-bottom: 1px solid black;
}

.company-experience-description {
  text-align: left;
}

.company-experience-description > h1 {
  font-size: 16px;
}

.time-experience-description {
  text-align: left;
  font-size: 12px;
}

.time-experience-description > p {
margin-bottom: 8px;
}

.experience-description {
  font-family: $text-brand;
  padding: 12px;
  width: 100%;
  height: 200px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.text-experience-description {
  margin-bottom: 0;
}

.list-title {
  font-family: $title-brand;
  font-size: 16px;
  margin-top: 8px;
}

.remove-disc {
  list-style-type: none;
  padding: 0;
}

.highlight_experience {
  background-color: #e9ecef;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid transparent;
}

//devices (desktops, 650px and up)
@media (min-width: 650px) {
  .resume-index-content{
    flex-direction: row;
    justify-content: flex-start;
  }

  .experiences {
    border-bottom: none;
    width: 50%;
    text-align: left;
    margin: 0;
    border-right: 1px solid black;
    padding: 0 12px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .company-experience-description {
    padding: 0 12px;
  }

  .time-experience-description {
    padding: 0 12px;
  }

  .experience-description {
    padding: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-experience-description {
    text-align: left;
    padding: 0 12px;
  }
}
