<div class="about-content">
  <!-- <div class="annecdotes-content" data-controller="display-annecdotes-about">
    <div class="about-icons">
      <% @annecdotes_icons.each do |annecdote_icon| %>
        <div class="about-icon-content" data-display-annecdotes-about-target="annecdoteIcon" data-action="click->display-annecdotes-about#displayAnnecdote" data-display-annecdotes-about-category-param='<%="#{annecdote_icon}"%>'>
          <svg viewBox="0 0 440 440" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle circle-svg" data-display-annecdotes-about-target="annecdoteSvg" cx="220" cy="220" r="300"/>
            <%= inline_svg_tag("about-annecdotes-icons/#{annecdote_icon}_icon.svg", class: "svg-about-icon about-icon-#{annecdote_icon}") %>
          </svg>
        </div>
      <% end %>
    </div>
    <div class="annecdotes-descrption">
      <p class="annecdotes-text" data-display-annecdotes-about-target="annecdoteText">click on one icon to know more about me</p>
    </div>
  </div> -->
  <%= render "shared/work_in_progress" %>

</div>
