<div class="about-content">
  <div class="annecdotes-content" data-controller="display-annecdotes-about">
    <div class="about-icons">
      <% @annecdotes_icons.each do |annecdote_icon| %>
        <div class="about-icon-content" data-display-annecdotes-about-target="annecdoteIcon" data-action="click->display-annecdotes-about#displayAnnecdote" data-display-annecdotes-about-category-param='<%="#{annecdote_icon}"%>'>
          <%= image_tag "about-annecdotes-icons/#{annecdote_icon}_icon.svg", alt: "#{annecdote_icon} icon", class: "svg-about-icons about-icon-#{annecdote_icon}" %>
        </div>
      <% end %>
    </div>
    <div class="annecdotes-descrption">
      <p class="annecdotes-text" data-display-annecdotes-about-target="annecdoteText">click on one icon to know more about me</p>
    </div>
  </div>
  <%= render "shared/work_in_progress" %>

</div>
