<div class="container full-content">
  <h1>Hello I&#8217;m Benoit</h1>
  <p class="text-presentation">A Fullstack Developer / based near Lausanne, Switzerland.</p>
  <%= render "shared/work_in_progress" %>
  <%= image_tag "Profil.jpg", alt: "Le Wagon", class: "avatar-large" %>
</div>
