<div class="home-content">
  <div class="home-layout-banner">
    <div class="home-banner">
    </div>
    <div class="home-banner-text">
      <h1 class="home-banner-title">Benoit Brandt</h1>
      <h6 class="home-banner-descriptiion">Développeur full stack</h6>
      <div class="home-banner-short-text-description">
        <p>
          J'ai commencé une reconversion professionnelle dans le
          développement web pour pouvoir en apprendre chaque jour un peu plus.
        </p>
      </div>
    </div>
  </div>
  <div class="home-text">
    <p class="home-description">
      Ayant récemment terminé <%= link_to("le Bootcamp du Wagon", "https://www.lewagon.com/", target: '_blank', class: "text-link underline-link") %>,
      j'ai eu la confirmation que j'avais une passion pour la programmation informatique, j'ai trouvé très stimulant le faite de
      pouvoir résoudre des problèmes ou des tâches complexes avec quelques lignes de code et beaucoup de logique.
      <br>
      <br>
      Actuellement, je continue à me former en autodidacte et je me suis mis au défi de reprendre les études en septembre 2023
      pour continuer d'approfondir mes connaissances dans la programmation informatique.
    </p>
  </div>
</div>
