<div class="container full-content">
  <h1>Hello my name is Benoit</h1>
  <p class="text-presentation">I am a Fullstack Developer / based near Lausanne, Switzerland.</p>
  <%= image_tag "Profil.jpg", alt: "Le Wagon", class: "avatar-large" %>
  <div>
    <div class="social-network">
      <ul class="remove-disc">
        <li>
          <a href="https://www.instagram.com/benoilte/" target="_blank" >
            <i class="social-network fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/benoit.brandt" target="_blank"  >
            <i class="social-network fa-brands fa-square-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/Benoilte" target="_blank" >
            <i class="social-network fa-brands fa-square-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
