<div class="container full-content">
  <h1>Hello my name is Benoit</h1>
  <p class="text-presentation">I am a Fullstack Developer / based near Lausanne, Switzerland.</p>
  <%= image_tag "Profil.jpg", alt: "Le Wagon", class: "avatar-large" %>
</div>
