<div class="home-content">
  <div class="home-banner">
    <div class="home-banner-text">
      <h1 class="home-banner-title">Benoit Brandt</h1>
      <h6 class="home-banner-descriptiion">Developer Web Full Stack</h6>
    </div>
  </div>
</div>
