<div class="home-content">
  <div class="home-layout-banner">
    <div class="home-banner">
    </div>
    <div class="home-banner-text">
      <h1 class="home-banner-title">Benoit Brandt</h1>
      <h6 class="home-banner-descriptiion">Développeur full stack</h6>
      <div class="home-banner-short-text-description">
        <p>
          J'ai commencé une reconversion professionnelle dans le
          développement web pour pouvoir en apprendre chaque jour un peu plus.
        </p>
      </div>
    </div>
  </div>
  <div class="home-text">
    <p class="home-description">
      Recently Graduated from <%= link_to("Le Wagon Bootcamp", "https://www.lewagon.com/", target: '_blank', class: "text-link underline-link") %>, I'm still working on personal project as my portfolio to
      keep learning, and I'm actively researching my first job experience to boost my progress <br>
    </p>
  </div>
</div>
