<!-- <div class="projects-index-content">
  <div class="projects">
    <div class="project-card">
      <div class="project-info-left">
        <div class="project-banner">
        </div>
        <div class="project-time">
          <p>Lorem ipsum dolor sit!</p>
        </div>
      </div>
      <div class="project-info-right">
        <div class="project-description">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, deleniti? Tenetur, fuga placeat dolorem quod voluptas, architecto delectus quos earum ipsum nisi itaque animi et aspernatur hic facilis iusto voluptate.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia cupiditate natus incidunt. Vel quasi cumque autem, eveniet iste aliquid ea aut amet, dolore expedita voluptate mollitia perspiciatis temporibus qui ullam.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates modi, quia dignissimos voluptas amet, illum doloribus eligendi porro praesentium distinctio maxime tenetur beatae molestiae totam magnam. Assumenda amet tenetur odit!
          </p>
        </div>
        <div class="project-detail">
          <p>Lorem ipsum dolor sit!</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="vertical-center-content">
  <div class="projects-index-content">
    <div class="projects">
      <div>
        <h1 class="projects-group">Professional</h1>
      </div>
      <% @professional_projects.each do |professional_project| %>
        <div class="professional-project">
          <p><%= professional_project.title %></p>
        </div>
      <% end %>
      <div>
        <h1 class="projects-group">Personnal</h1>
      </div>
      <% @personnal_projects.each do |personnal_project| %>
        <div class="personnal-project">
          <p><%= personnal_project.title %></p>
        </div>
      <% end %>
    </div>
    <div class="project-description">
      <div class="title-project-description"></div>
      <div class="time-project-description"></div>
      <p class="text-project-description">click on one project to see the description</p>
    </div>
  </div>
</div>

<%= render "shared/work_in_progress" %>
