<%= render "shared/work_in_progress" %>

<div class="vertical-center-content">
  <div class="projects-index-content">
    <div class="projects">
      <div>
        <h1 class="projects-group">Professional</h1>
      </div>
      <div class="professional-projects">
        <% @professional_projects.each do |professional_project| %>
          <div class="professional-project">
            <p><%= professional_project.title %></p>
          </div>
        <% end %>
      </div>
      <div>
        <h1 class="projects-group">Personnal</h1>
      </div>
      <div class="personnal-projects">
        <% @personnal_projects.each do |personnal_project| %>
          <div class="personnal-project">
            <p><%= personnal_project.title %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="project-description">
      <div class="title-project-description"></div>
      <div class="time-project-description"></div>
      <p class="text-project-description">click on one project to see the description</p>
    </div>
  </div>
</div>
