.projects-index-content {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.projects {
  font-family: $text-brand;
  font-family: "Source Sans Pro", sans-serif;
  width: calc(100% - 24px);
  border-bottom: 1px solid black;
}

.projects-group {
  font-family: $title-brand;
  font-size: 16px;
  margin-top: 8px;
}

.professional-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

.container-project-icon {
  height: 60px;
  width: 60px;
  margin: 0px auto 12px;
}

.feed-my-fish-project-icon {
  background-image:  asset-url("project-icons/fish.png");
  background-size: contain;
}

.next-stop-project-icon {
  background-image:  asset-url("project-icons/bonome-next-stop.svg");
  background-size: contain;
}

.dahlia-sante-project-icon {
  background-image:  asset-url("project-icons/gif-fond_dahlia.gif");
  background-size: contain;
}

// .my-portfolio-project-icon {

// }

.personnal-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}


.project-description {
  font-family: $text-brand;
  padding: 12px;
  width: 100%;
  height: 200px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.time-project {
  text-align: left;
  font-size: 12px;
}

.time-project > p {
margin-bottom: 8px;
}

.text-project-description {
  margin-bottom: 0;
}

// .link-project-details {

// }

//devices (desktops, 650px and up)
@media (min-width: 650px) {
  .projects-index-content {
    flex-direction: row;
    justify-content: flex-start;
  }

  .projects {
    border-bottom: none;
    width: 50%;
    text-align: left;
    margin: 0;
    border-right: 1px solid black;
    padding: 0 12px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-project-icon {
    height: 60px;
    width: 60px;
    margin: 0px 0px 12px 12px;
  }

  .project-description {
    padding: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .time-project {
    padding: 0 12px;
  }

  .text-project-description {
    text-align: left;
    padding: 0 12px;
  }

  .link-project-details {
    text-align: left;
    padding: 0 12px;
  }
}
