.btn-submit-contact {
  background-color: transparent;
  font-family: "Avenir Next LT Pro", sans-serif;
  border: transparent;
  padding: 0;
  color: grey;
  transition: color 1s;
}

.btn-submit-contact:hover {
  color: black;
}

.btn-align-right {
  text-align: right;
}
