.btn-yours {
  display: inline-block;
  border: 1px solid black;
  border-radius: 12px;
  padding: 4px 8px;
  margin-top: 12px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.8s;
  font-family: "Avenir Next LT Pro", sans-serif;
}

.btn-yours:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
  transition: 0.8s;
}
