#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #e9ecef;
  height: 36px;
  border-top: 1px solid black;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info p{
  font-family: $link;
  margin: 0;
  padding-left: 12px;
}

.social-networks {
  display: flex;
  font-size: 24px;
  padding-right: 12px;
}

.social-network {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  transition: color 0.5s;
}

.social-network:hover {
  color: #e9ecef;
  background: linear-gradient(#000000, #000000) no-repeat;
  background-position: center;
  background-size: 90% 80%;
}
