#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-info {
  font-family: $link;
}

.social-networks {
  display: flex;
  font-size: 24px;
}

.social-network {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  transition: color 0.5s;
}

.social-network:hover {
  color: white;
  background: linear-gradient(#000000, #000000) no-repeat;
  background-position: center;
  background-size: 90% 80%;
}
