#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-info {
  font-family: $link;
}

.social-networks {
  display: flex;
  font-size: 24px;
}

.social-network {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  transition: color 0.5s;
}

.social-network:hover {
  color: white;
  // background-color: black;
  // box-shadow: 0px 3px 0 1px white inset, 0 -3px 0 1px white inset;
  // transition: box-shadow 3s
  background: linear-gradient(transparent 10%, #000000 10%, #000000 90%, transparent 90%);
}
