.text-informatif {
  font-family: $text-brand;
  text-align: center;
}

#new_user {
  width: 50%;
  text-align: center;
  margin: 20px auto;
}

.form {
  color: gray;
  padding: 30px;
}

.form-control {
  // background-color: white;
  border: gray;
  border-radius: 10px;
  color: gray
}

.btn-submit {
  text-align: center;
  padding: 30px;
}

#contact_name, #contact_email, #contact_message {
  width: 320px;
  font-family: $link;
  border-radius: 2px;
}

label {
  font-family: $link;
  margin-top: 12px;
  color: grey;
  transition: color 1s;
}

label:hover {
  color: black;
  cursor: pointer;
}

.align-label {
  text-align: left;
}
