.text-link {
  font-style: italic;
  font-weight: lighter;
  color: black;
}

.underline-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 1s;
}

.underline-link:hover{
  cursor: pointer;
  color: black;
}

.underline-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}

.underline-link:hover::after {
  transform: scaleX(1);
}

.selected_link {
  font-family: $title-brand;
  font-size: 13.65px;
  color: black;
  text-decoration: none;
  padding: 0px 4px 0px 4px;
  pointer-events: none;
  cursor: default;
}

.selected_link:hover {
  color: black;
}

.highlight_link {
  background-color: #e9ecef;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid transparent;
}
