//devices (under, 340px)
#my-name {
  font-family: $title-brand;
  transition: font-size 0.8s;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

//devices (desktops, 340px and up)
@media (min-width: 340px) {
  #my-name {
    transition: font-size 0.8s;
    font-size: 32px;
  }
}

//devices (desktops, 480px and up)
@media (min-width: 480px) {
  #my-name {
    transition: font-size 0.8s;
    font-size: 48px;
  }
}
