.navbar-benoilte {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
}

.navbar-benoilte .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-family: $title-brand;
  font-size: 16px;
}

.navbar-links {
  font-family: $link;
}

.navbar-link {
  color: grey;
  padding: 0px 8px 0px 8px;
}
