.navbar-benoilte {
  position: relative;
  z-index: 1;
  justify-content: space-between;
}

.navbar-benoilte-background {
  background: white;
}

.navbar-benoilte .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-family: $title-brand;
  font-size: 16px;
}

.navbar-brand-home {
  color: grey;
}

.navbar-brand-home:hover {
  color: grey;
}

.navbar-links {
  font-family: $link;
}

.navbar-link {
  color: grey;
  padding: 0px 8px 0px 8px;
}
