.text-work-in-progress {
  font-family: $text-brand;
  text-align: center;
  margin: 12px 0px;
}

//devices (desktops, 650px and up)
@media (min-width: 650px) {
  .text-work-in-progress {
    margin: 0px 0px;
  }
}
